/* Global settings */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333; 
    font-size: 11px; 
    font-weight: 400;
    background-color: #fff; 
    margin: 0;
    padding: 0;
}

/* Link styles */
a {
    color: #333; 
    text-decoration: none; 
    cursor: pointer;
}

a:hover {
    text-decoration: underline; 
}

a:focus {
    text-decoration: none; 
}

/* Utility classes */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.font-bold {
    font-weight: bold;
}


/* Live chat button */
.live-chat-btn {
    position: fixed;
    bottom: 30px;   
    right: 15px;     
    background-color: transparent;
    text-decoration: underline;
    border: none;     
    z-index: 1000;   
}

.message-box {
    position: absolute;
    bottom: 35px;
    right: 5px;
    background-color: white;
    padding: 20px 15px;
    border: 1px solid black;
    line-height: 1;
    display: none; 
    white-space: nowrap; 
}

.live-chat-btn:hover .message-box {
    display: block; 
}

.live-chat-form {
    position: fixed;
    bottom: 34px;     
    right: 34px;
    width: 350px;
    height: 500px;
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(192, 192, 192);
    z-index: 1000;    
}

.live-chat-form.minimized {
    height: 58px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 11px;
    margin-bottom: 22px;
}

.close-form-btn {
    border: none;
    background-color: transparent;
    padding: 0;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    height: 35px;
    border: 1px solid rgb(192, 192, 192);
}

input[type="text"],
input[type="email"] {
    padding-left: 10px; 
}

textarea {
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
    padding-top: 5px;
    padding-left: 10px; 
}

input:focus,
textarea:focus {
    outline: none; 
}

.submit-form-btn {
    width: 100%;
    height: 35px;
    background-color: black;
    color: white;
}