/* Desktop footer */
.footer {
    margin-top: 60px;
    margin-bottom: 15px;
    width: 100%;
}
  
.footer__wrapper {
    display: flex;
    justify-content: center;
    gap: 28px; 
    margin-bottom: 12px;
}

.footer__wrapper--grey p,
.footer__wrapper--grey a {
    color: grey; 
}

.footer__social-links {
    display: flex;
    gap: 6px; 
}

.footer__social-links a {
    color: black;
}


/* Mobile footer */
.mobile-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center; 
}

.mobile-footer__wrapper {
    width: 90%;
    margin: 15px auto; 
}

.email-wrapper input {
    width: 90%; 
    height: 30px;
    padding: 5px; 
    border: 1px solid grey; 
    border-radius: 0; 
}
  
.radio-wrapper {
    margin-top: 15px; 
    gap: 30px; 
    display: flex;
    justify-content: center; 
    margin-bottom: 10px;
}

.radio-wrapper label {
    display: inline-flex; 
}

.radio-wrapper input[type="radio"] {
    margin-right: 10px; 
    width: 15px;
    height: 15px;
}

.subscribe-btn {
    width: 90%; 
    height: 30px;
    padding: 5px; 
    background-color: transparent; 
    border: 1px solid grey; 
    border-radius: 0; 
    margin-bottom: 20px;
    color: black;
}

.mobile-footer__social-links {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.mobile-footer__country {
    margin: 30px 0;
}

.mobile-footer__wrapper--grey p,
.mobile-footer__wrapper--grey a {
    color: grey; 
    display: inline-flex;
    justify-content: center; 
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 5px;
}