/* Desktop */
@media (min-width: 1200px) {
    .use-mobile-navbar {
        display: none;
    }
    .use-mobile-footer {
        display: none;
    }
}

/* Smaller desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .use-mobile-navbar {
        display: none;
    }
    .use-mobile-footer {
        display: none;
    }
}


/* Tablet */
@media (min-width: 576px) and (max-width: 991px) {
    .use-desktop-navbar {
        display: none;
    }
    .use-desktop-footer {
        display: none;
    }
    .live-chat-btn {
        display: none;
    }
}

/* Mobile */
@media (max-width: 575px) {
    .use-desktop-navbar {
        display: none;
    }
    .use-desktop-footer {
        display: none;
    }
    .live-chat-btn {
        display: none;
    }
}