/* Desktop details */
.pdp-page__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 65px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    padding: 0 !important;
    max-width: 100% !important;
}

/* Left column */
.pdp-left-column__wrapper {
    width: 25vw !important; 
    height: 100vh;
    justify-content: center;
    position: sticky;
    top: 42vh;
}

.pdp-left-column__wrapper p {
    font-size: 11px;
}

.pdp-left-column__wrapper .brand-name {
    text-decoration: none;
    color: black;
}

.pdp-left-column__wrapper .brand-name:hover {
    text-decoration: underline;
}

/* Right column */
.pdp-right-column__wrapper {
    width: 25vw !important; 
    height: 100vh;
    justify-content: center;
    position: sticky;
    top: 42vh;
}

.pdp-right-column__btn-wrapper {
    display: flex;
    gap: 5px;
}

.pdp-right-column__wrapper .bag-btn {
    width: 60%;
    background-color: black;
    color: white;
    border-radius: 0;
    margin-top: 15px;
    font-size: 11px;
    padding: 10px 40px;
}

.pdp-right-column__wrapper .bag-btn:hover {
    background-color: black;
}

.pdp-right-column__wrapper .wishlist-btn {
    width: 40%;
    background-color: transparent;
    color: black;
    border: none;
    margin-top: 15px;
    font-size: 11px;
    padding: 10px 10px;
}

.pdp-right-column__wrapper .wishlist-btn:hover, .wishlist-btn:focus {
    background-color: transparent;
    color: black;
}

.pdp-right-column__wrapper .wishlist-btn:active {
    background-color: transparent !important;
    color: black !important;
}

/* Center column */
.pdp-center-column__wrapper {
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.image-wrapper {
    display: flex;
    width: 450px;
}

.pdp-center-column__wrapper img {
    width: auto; 
    height: 91vh !important;
    margin: 0px auto 60px; 
}

.pdp-center-column__wrapper .image-wrapper {
    cursor: zoom-in; 
}


/* Mobile details */
.pdp-mobile-info__wrapper  {
    margin: 10px 23px 50px 23px;
    font-size: 11px;
}

.pdp-mobile-info__wrapper .brand-name-price__wrapper {
    display: flex;
    justify-content: space-between; 
}

.pdp-mobile-info__wrapper .price {
    text-align: right !important;
}

.pdp-mobile-info__wrapper .pdp-mobile-info__btn-wrapper {
    width: 100%;
    margin-bottom: 15px;
}

.pdp-mobile-info__wrapper .bag-btn {
    background-color: black;
    color: white;
    border-radius: 0;
    margin-top: 15px;
    font-size: 11px;
    padding: 10px 35px;
    width: 89%;
}

.pdp-mobile-info__wrapper .wishlist-btn {
    background-color: transparent !important;
    color: black !important;
    border: none;
    margin-top: 15px;
    font-size: 15px;
    padding: 10px;
    width: 11%;
}


/* Responsive styles */
/* Desktop */
@media (min-width: 1200px) {
    .pd-mobile {
        display: none;
    }
}

/* Smaller desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .pd-mobile {
        display: none;
    }
}

/* Tablet */
@media (min-width: 576px) and (max-width: 991px) {    
    .pd-desktop {
        display: none;
    }
    .pdp-mobile-page__wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px; 
    }
    .pdp-mobile-info__wrapper {
        flex: 1; 
        margin-top: 80px;
    }
}

/* Mobile */
@media (max-width: 575px) {
    .pd-desktop {
        display: none;
    }
}